/* version: 5.1.2 */

.jky-background	{background:{BACKGROUND};}
.jky-color		{color:{COLOR};}
.jky-red 		{color:red;}
.jky-green		{color:green}
.jky-bold		{font-weight:bold;}
.jky-italic		{font-style:italic;}
