

    Explore
    Gist
    Blog
    Help

    patjan

    1,538
    14,213
    3,552

public angular/angular.js

angular.js / css / angular-scenario.css
esprehn 3 years ago
Provide better sandbox error messages, and disallow running from file…

2 contributors
file 248 lines (199 sloc) 3.364 kb
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 	

@charset "UTF-8";
/* CSS Document */

/** Structure */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  font-size: 14px;
}

#system-error {
  font-size: 1.5em;
  text-align: center;
}

#json, #xml {
  display: none;
}

#header {
  position: fixed;
  width: 100%;
}

#specs {
  padding-top: 50px;
}

#header .angular {
  font-family: Courier New, monospace;
  font-weight: bold;
}

#header h1 {
  font-weight: normal;
  float: left;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  padding: 10px 10px;
  height: 30px;
}

#application h2,
#specs h2 {
  margin: 0;
  padding: 0.5em;
  font-size: 1.1em;
}

#status-legend {
  margin-top: 10px;
  margin-right: 10px;
}

#header,
#application,
.test-info,
.test-actions li {
  overflow: hidden;
}

#application {
  margin: 10px;
}

#application iframe {
  width: 100%;
  height: 758px;
}

#application .popout {
  float: right;
}

#application iframe {
  border: none;
}

.tests li,
.test-actions li,
.test-it li,
.test-it ol,
.status-display {
  list-style-type: none;
}

.tests,
.test-it ol,
.status-display {
  margin: 0;
  padding: 0;
}

.test-info {
  margin-left: 1em;
  margin-top: 0.5em;
  border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  cursor: pointer;
}

.test-info:hover .test-name {
  text-decoration: underline;
}

.test-info .closed:before {
  content: '\25b8\00A0';
}

.test-info .open:before {
  content: '\25be\00A0';
  font-weight: bold;
}

.test-it ol {
  margin-left: 2.5em;
}

.status-display,
.status-display li {
  float: right;
}

.status-display li {
  padding: 5px 10px;
}

.timer-result,
.test-title {
  display: inline-block;
  margin: 0;
  padding: 4px;
}

.test-actions .test-title,
.test-actions .test-result {
  display: table-cell;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.test-actions {
  display: table;
}

.test-actions li {
  display: table-row;
}

.timer-result {
  width: 4em;
  padding: 0 10px;
  text-align: right;
  font-family: monospace;
}

.test-it pre,
.test-actions pre {
  clear: left;
  color: black;
  margin-left: 6em;
}

.test-describe {
  padding-bottom: 0.5em;
}

.test-describe .test-describe {
  margin: 5px 5px 10px 2em;
}

.test-actions .status-pending .test-title:before {
  content: '\00bb\00A0';
}

.scrollpane {
   max-height: 20em;
   overflow: auto;
}

/** Colors */

#header {
  background-color: #F2C200;
}

#specs h2 {
  border-top: 2px solid #BABAD1;
}

#specs h2,
#application h2 {
  background-color: #efefef;
}

#application {
  border: 1px solid #BABAD1;
}

.test-describe .test-describe {
  border-left: 1px solid #BABAD1;
  border-right: 1px solid #BABAD1;
  border-bottom: 1px solid #BABAD1;
}

.status-display {
  border: 1px solid #777;
}

.status-display .status-pending,
.status-pending .test-info {
  background-color: #F9EEBC;
}

.status-display .status-success,
.status-success .test-info {
  background-color: #B1D7A1;
}

.status-display .status-failure,
.status-failure .test-info {
  background-color: #FF8286;
}

.status-display .status-error,
.status-error .test-info {
  background-color: black;
  color: white;
}

.test-actions .status-success .test-title {
  color: #30B30A;
}

.test-actions .status-failure .test-title {
  color: #DF0000;
}

.test-actions .status-error .test-title {
  color: black;
}

.test-actions .timer-result {
  color: #888;
}

    Status
    API
    Training
    Shop
    Blog
    About

    © 2013 GitHub, Inc.
    Terms
    Privacy
    Security
    Contact

