@import url('bootstrap.css');
@import url('bootstrap-responsive.css');

@font-face				{ font-family:'arial rounded extraBold'; src:url('../fonts/arial-rounded-extrabold') format('woff'); font-style:normal; font-weight:bold;    }
@font-face				{ font-family:'arial rounded bold'     ; src:url('../fonts/arial-rounded-bold'     ) format('woff'); font-style:normal; font-weight:bold;    }
@font-face				{ font-family:'arial rounded light'    ; src:url('../fonts/arial-rounded-light'    ) format('woff'); font-style:normal; font-weight:normal;  }
@font-face				{ font-family:'arial rounded'          ; src:url('../fonts/arial-rounded-normal'   ) format('woff'); font-style:normal; font-weight:normal;  }

/* required for sticky-footer, html and body elements cannot have any padding or margin */
*		{margin:0; padding:0; border:0; font-family:'Lucida Grande',Helvetica,Verdana,Arial,sans-serif;}
html	{height:100%}
body	{height:100%; margin:0; padding:0; font-size:13px;}
input	{height:22px; margin:0 5px 4px 0; padding:1px 4px; border:1px solid #cccccc; border-radius:3px;}
select	{height:26px; margin-bottom:4px; border-radius:2px; padding:2px; color:black;}
option	{padding:2px 6px;}
input.span2 {width:80px; padding:2px 4px;}

.btn			{padding:2px 10px;}
.close			{color:#FFFFFF; opacity:0.8;}
.nav			{margin-bottom:0px;}
.nav-tabs > li	{margin-left:10px;}
.nav-tabs > li > a				{background-color:#999999; color:black; margin-right:0; line-height:10px;}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover	{background-color:#FFFFFF;}
.input-append .add-on	{margin-left:-6px; padding:2px;}
.modal-header			{background:#223870; color:white; border-bottom:1px solid #DDDDDD; border-radius:3px 3px 0 0; font-size:120%; font-weight:bold;}
.modal-body				{background:white;}
.modal-backdrop,
.modal-backdrop.fade.in {opacity:0.5;}
.datepicker-dropdown:after	{left:432px;}

.table thead th {vertical-align: middle;}
.table tbody td {line-height:12px;}

.left			{text-align:left  ;}
.center			{text-align:center;}
.right			{text-align:right ;}

.jky-left		{float:left ;}
.jky-right		{float:right;}
.jky-clear		{clear:both;}
.jky-side-set	{margin:10px 0 0 10px; font-weight:bold; color:#7C7BAD;}
.jky-side-item	{padding-left:20px;}
.jky-side-item.active	{
	background:#323232;
	color:white;
}
.jky-side-item.dev	{
	color:green;
}

.jky-form-line			{clear:both; padding-top:2px;}
.jky-form-label			{float:left; width:100px; margin:3px 7px; text-align:right; font-weight:bold;}
.jky-form-label-1		{float:left; width:100px; margin:3px 7px; text-align:right; font-weight:bold;}
.jky-form-label-2		{float:left; width:100px; margin:3px 7px; text-align:right; font-weight:bold;}
.jky-form-label-3		{float:left; width:100px; margin:3px 7px; text-align:right; font-weight:bold;}
.jky-form-value			{float:left; width:300px; margin-right:7px;}

.jky-tab-label			{text-align:right; padding-right:10px; font-weight:bold;}
.jky-tab-label:after	{content:':';}
.jky-tab-value			{text-align:right;}

.jky-option-search		{padding-left:20px; margin-top:10px;}
.jky-option-add-new		{padding-left:20px;}

#jky-wrapper			{height:100%; background:none repeat scroll 0 0 white; color:#4C4C4C;}
#jky-wrapper table		{width:100%;}

#jky-header				{height:20px; background-color:#323232; color:#EEEEEE; background-image:linear-gradient(to bottom, #646060, #262626);}
#jky-header a			{color:#FFFFFF;}
#jky-header a:hover		{color:#1E9CD9;}

#jky-menus				{float:left ; height:20px; margin:0; padding:6px 0;}
#jky-menus li			{display:inline; padding:8px 10px; line-height:20px;}
#jky-menus .active		{background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3); box-shadow:0 1px 2px rgba(0, 0, 0, 0.4) inset; text-shadow:0 0 3px black;}

#jky-user-full-name		{float:right; height:20px; margin:6px 10px 4px;}

#jky-body				{width:100%; height:100%;}

#jky-side-bar			{width:220px; border-right:1px solid #AFAFB6; background:none repeat scroll 0 0 #F0EEEE; vertical-align:top;}

#jky-side-header		{width:220px; padding:21px 0; text-align:center;}
#jky-company-logo		{}

#jky-side-sales			{height:auto; display:none;}
#jky-side-purchases		{height:auto; display:none;}
#jky-side-maintenance	{height:auto; display:none;}
#jky-side-production	{height:auto; display:none;}
#jky-side-outsource		{height:auto; display:none;}
#jky-side-inventory		{height:auto; display:none;}
#jky-side-invoicing		{height:auto; display:none;}
#jky-side-receivable	{height:auto; display:none;}
#jky-side-help			{height:auto; display:none;}
#jky-side-admin			{height:auto; display:none;}
#jky-side-tickets		{height:auto; display:none;}

#jky-side-footer		{width:220px; bottom:0; position:fixed; text-align:center;}
#jky-contact-us			{color:#C81010; font-weight:bold;}

#jky-application		{vertical-align:top;}
#jky-application div	{}
#jky-application table	{width:100%;
	border-collapse:separate;
    table-layout:fixed;
    width:100%;
    background-color:#EDEDED;
    background-image:linear-gradient(to bottom, #FCFCFC, #DEDEDE);
    border-bottom:1px solid #CACACA;
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
    border-collapse:collapse;
    padding:0;
}

#jky-application thead tr		{height:40px; background-color:#EEEEEE;}
#jky-application tbody tr		{height:20px; border-bottom:1px solid #DDDDDD;}
#jky-application thead th		{border:1px solid #999999;}
#jky-application thead th:first-child	{border-left :0px}
#jky-application thead th:last-child	{border-right:0px}
#jky-application tbody td		{margin:2px; padding:4px 8px;}
#jky-application input[type='checkbox']	{width:20px; margin:0 0 2px 0;}
#jky-app-header			{
    background-color: #EDEDED;
    background-image: linear-gradient(to bottom, #FCFCFC, #DEDEDE);
    border-bottom: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
}
#jky-app-breadcrumb		{float:left ; margin:12px 10px 8px 10px; height:24px; font-size:18px; font-weight:bold; vertical-align:middle;}
#jky-app-label			{float:left ; margin:12px  0px 8px 30px;}
#jky-app-select			{float:left ; margin:10px  7px 10px 7px; width:170px;  height:24px;}
#jky-app-filter			{float:right; margin:10px; width:300px;  height:16px;}
#jky-app-actions		{float:left ; margin: 6px 10px;}
#jky-app-actions a		{vertical-align:bottom;}
#jky-app-more			{float:left ; margin: 6px 10px 6px 80px;}
#jky-app-add-new		{float:right; margin: 9px 10px; font-weight:bold; color:#0F4D93;}
#jky-app-counters		{float:right; margin: 9px 10px;}
#jky-app-navs			{float:right; margin: 6px 10px;}
#jky-app-displays		{float:right; margin: 6px 10px;}

#jky-app-table thead	{
	background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 2px solid #CACACA;
    vertical-align: top;
	font-weight: bold;
}
#jky-table tbody		{max-height:300px; overflow-y:visible;}

#jky-action-add-new		{display:none;}
#jky-action-save		{display:none;}
#jky-action-copy		{display:none;}
#jky-action-delete		{display:none;}
#jky-action-cancel		{display:none;}
#jky-action-export		{display:inline-block;}
#jky-action-publish		{display:none;}
#jky-action-list		{display:inline-table;}
#jky-action-graph		{display:none;}
#jky-action-calendar	{display:none;}
#jky-action-form		{display:inline-table;}
.jky-action				{width:12%; text-align:center;}

/* -------------------------------------------------------------------------- */

#jky-form-control		{
	background-color: #EDEDED;
    background-image: linear-gradient(to bottom, #FCFCFC, #DEDEDE);
    border-bottom: 1px solid #CACACA;
    height:34px;
}
#jky-form-actions		{float:left; margin:4px 5px;}
#jky-form-status		{float:right; margin-right:22px; border-left:1px solid #CACACA;}
#jky-form-status li		{    background-color: #EDEDED;
    display: inline-block;
    list-style-type: none;
    margin: 0 -22px 0 0;
    padding: 0 0 0 22px;
}
.jky-form-status		{display: inline; border:0px solid #999999; margin:2px; padding:4px; }

Xli.active 				{background-image: linear-gradient(to bottom, #729FCF, #3465A4);}
li.active .xlabel		{color:white; font-weight:bold;}
li.active .arrow span	{background:-moz-linear-gradient(135deg, #3465A4, #729FCF) repeat scroll 0 0 transparent;
}
li .xlabel		{color:black;}
li .arrow {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 22px;
}
li .arrow span {
}

li .arrow span {
	background-color:#EDEDED;
    border-radius:3px;
    box-shadow: -1px 1px 2px rgba(255, 255, 255, 0.2), -1px 1px 1px rgba(0, 0, 0, 0.2) inset;
    display: inline-block;
    height: 26px;
    margin: 4px 0 -2px -11px;
    margin-top: 4px;
    position: relative;
    transform: rotate(45deg);
    width: 26px;
}


#jky-form-data	{margin:10px 0; padding:10px 0;}
#jky-form-title	{padding:10px;}
#jky-form-action{font-size:20px; font-weight:bold;}
#jky-form-id	{font-size:20px; font-weight:bold; padding-top:10px;}

#jky-form-tabs	{margin:10px 0; padding:10px 0; background-color:#FFFFFF;}
/* -------------------------------------------------------------------------- */
.jky-profile-label		{float:left; width:180px; margin:5px 7px; text-align:right; font-weight:bold;}

#jky-loading			{display:none; position:fixed; top:50%;left:50%; margin:-50px 0 0 -50px; overflow:auto; z-index:9999;}
#jky-message			{display:none; position:absolute; top:auto; bottom:0; left:auto ; right:0; width:340px; z-index:2000;}
#jky-trace				{display:none; position:absolute; top:auto; bottom:0; left:280px; right:0; width:340px; z-index:2000;}
#jky-confirm			{display:none; position:absolite; top:auto; bottom:0; left:auto ; right:0; width:340px; z-index:2000;}
#jky-new-layer			{}
#jky-export				{display:none;}

#jky-search-filter		{margin-bottom:10px;}
#jky-search-table thead tr	{border-radius:3px;}
#jky-search-table tbody tr	{height:30px;}

#jky-printable {display:none}
